{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
    table {
    border-collapse: collapse;
    width: 100%;
    }

    th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    }
</style>

<div class="example-wrapper">
    <h1>Hello {{ firstName}}! ✅</h1>
    <table> 
        <tr>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Age</th>
            <th>Salary</th>
            <th>Position</th>
        </tr>

        {% for user in users %}
        <tr>
            <th>{{user.first_name|e }}</th>
            <th>{{user.last_name|e }}</th>
            <th>{{user.age|e }}</th>
            <th>{{user.salary|e }}</th>
             <th>{{user.position|e }}</th>
        </tr>
    {% endfor %}
    </table>
</table>
</div>
{% endblock %}
